#result {
    size: auto;
    background-color: gainsboro;
}

h3 {
    padding: 0px;
}

input {
    padding: 5px;
}

div {
    padding: 10px;
}

#SearchEmployeeContainer {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border-color: black;
    align-self: auto;
}

#SubmitNewEmployeeContainer {
    width: 325px;
    height: auto;
    border-radius: 10px;
    border-color: black;
}